<h1>Services page</h1>

{{#each services as | service|}}
<div  class="card mb-2">
<div  class="card body">
   <h5 class="card-title">{{name}}</h5>
   <a href="{{url}}"> Mas info</a>
   </div>
</div>
{{/each}}

