h1 {
    color: chocolate;
}

body {
    background-image: url(/assets/img/background.jpeg);
    background-size: cover;
}


img {
    border-radius: 50%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  .container {
    flex: 1;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  
  html, body {
    height: 100%;
  }